In [20]:
import pandas as pd

In [21]:
data = pd.read_csv("pokeman_data.csv")

In [28]:
data.head(5)
data = data.drop(columns="Unnamed: 0")

In [29]:
data['Total'] = data.iloc[:,5:11].sum(axis=1)

In [30]:
data.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,274
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,346
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,446
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,546
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,271

In [15]:
45+49+49+65+65+45

318

In [31]:
# data.to_csv("pokeman_data.csv")

In [32]:
new_data = data.loc[(data["Type 1"] == 'Grass') & (data['Type 2'] == 'Poison')] 
new_data.reset_index()
new_data.to_csv("Grass_Poison.csv")
new_data
new_data.loc[~new_data['Name'].str.contains('saur')]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
48,43,Oddish,Grass,Poison,45,50,55,75,65,30,1,False,276
49,44,Gloom,Grass,Poison,60,65,70,85,75,40,1,False,336
50,45,Vileplume,Grass,Poison,75,80,85,110,90,50,1,False,416
75,69,Bellsprout,Grass,Poison,50,75,35,70,30,40,1,False,251
76,70,Weepinbell,Grass,Poison,65,90,50,85,45,55,1,False,326
77,71,Victreebel,Grass,Poison,80,105,65,100,70,70,1,False,411
344,315,Roselia,Grass,Poison,50,60,45,100,80,65,3,False,353
451,406,Budew,Grass,Poison,40,30,35,50,70,55,4,False,244
452,407,Roserade,Grass,Poison,60,70,65,125,105,90,4,False,459
651,590,Foongus,Grass,Poison,69,55,45,55,55,15,5,False,230
652,591,Amoonguss,Grass,Poison,114,85,70,85,80,30,5,False,355

In [18]:
# data.loc[data["Total"] > 500 , ["Generation","Legendary"]]  = ["Test_v 1","Test_v 2"]

data = pd.read_csv("pokeman_data.csv")

In [33]:
data["count"] = 1
data.groupby('Generation').count()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Legendary,Total,count
Generation,,,,,,,,,,,,,
1,166,166,166,78,166,166,166,166,166,166,166,166,166
2,106,106,106,55,106,106,106,106,106,106,106,106,106
3,160,160,160,82,160,160,160,160,160,160,160,160,160
4,121,121,121,67,121,121,121,121,121,121,121,121,121
5,165,165,165,82,165,165,165,165,165,165,165,165,165
6,82,82,82,50,82,82,82,82,82,82,82,82,82